{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static'css/page.css' %}">
    <title>Boi API</title>
</head>
<body>
    <div class="central">
    <p> Bem vindo a API de consulta de valores de animais</p>
    <h4> as opcoes disponiveis sao </h4>
    <ol>
        <li>GET para todos os dados</li>
        <li>GET por estado</li>
        <li>GET por animal</li>
    </ol>
    </div>
</body>
</html>